

<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Documents </title>
    </head>
    <body>
        <main>
            <div>
                <h1> {{ list_details.name }} </h1>
                <a href="{% url 'todo_list_update' list_details.id %}">Edit</a>
                    <h2> Tasks </h2>
                    <table>
                        <thead>
                          <tr>
                            <th>Task</th>
                            <th>Due date</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for items in list_details.items.all %}
                            <tr>
                              <td>{{ items.task }}</td>
                              <td>{{ items.due_date|date:"M j, Y" }}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                    </table>
            </div>
        </main>
        <footer>
            <div>Footer</div>
        </footer>
    </body>
</html>
